# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
*.env

# ===============================
# Jupyter Notebooks
# ===============================
.ipynb_checkpoints/